
.icon-android:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-sun:before { content: '\e803'; } /* '' */
.icon-moon:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-comment-alt:before { content: '\e809'; } /* '' */
.icon-home-outline:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-login:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-clipboard:before { content: '\e810'; } /* '' */
.icon-megaphone:before { content: '\e811'; } /* '' */
.icon-lifebuoy:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-wrench:before { content: '\e814'; } /* '' */
.icon-globe:before { content: '\e815'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-glass:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-android-1:before { content: '\f17b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
